%h1
  - if rodauth.logged_in?
    = "Hello #{DB[:accounts].where(id: rodauth.session_value).get(:email)}!"
  - else
    Hello World!

%main
  %ul
    - 10.times do |i|
      - id = Random.rand(100)
      %li= "Topic #{i}: #{id}"

%p
  - if rodauth.logged_in?
    %a{ href: rodauth.logout_path } Logout
  - else
    %a{ href: rodauth.login_path } Login

= partial 'footer'
